body {
  font-family: Roboto, sans-serif;
}
h1 {
  margin-bottom: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
form {
  width: 70%;
  display: flex;
}

form span {
  position: relative;
  top: 33px;
  left: -30px;
}
form button {
  display: contents;
}
form input#city-input {
  margin: 25px 0 0 12px;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 0 auto;
}
.weather-app {
  border: 1px solid rgba(19, 116, 197, 0.3);
  border-radius: 6px;
  padding: 10px;
}

.weather-app.night {
  border: 1px solid rgba(64, 28, 161, 0.25);
}

span.location-button-container {
  margin: 33px 0 0 0;
}

.weather-main {
  margin-top: 20px;
}
.weather-main img {
  float: left;
}
.weather-main strong {
  float: left;
  line-height: 1;
  font-size: 64px;
}
.btn-group-sm > .btn,
.btn-sm {
  padding: 0 0.3rem;
  font-size: 14px;
  border-radius: 0.2rem;
}
.btn-outline-primary {
  color: rgba(19, 116, 197, 1);
  border-color: rgba(19, 116, 197, 1);
}

.btn-outline-primary.night {
  color: rgba(64, 28, 161, 1);
  border-color: rgba(64, 28, 161, 1);
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: rgba(19, 116, 197, 0.8);
  border-color: rgba(19, 116, 197, 1);
}

.btn-outline-primary.night:hover {
  color: #fff;
  background-color: rgba(64, 28, 161, 0.8);
  border-color: rgba(64, 28, 161, 1);
}

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
  color: #fff;
  background-color: rgba(19, 116, 197, 0.8);
  border-color: rgba(19, 116, 197, 1);
}

.btn-check:active + .btn-outline-primary.night,
.btn-check:checked + .btn-outline-primary.night,
.btn-outline-primary.night.active,
.btn-outline-primary.night.dropdown-toggle.show,
.btn-outline-primary.night:active {
  color: #fff;
  background-color: rgba(64, 28, 161, 0.8);
  border-color: rgba(64, 28, 161, 1);
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-day {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
.weather-forecast-temps {
  font-size: 13px;
}
.forecast-temp-lo {
  opacity: 0.6;
}
button#location-button {
  display: contents;
}

span#time {
  background: rgba(176, 220, 249, 0.2);
  border: 1px solid rgba(176, 220, 249, 0.9);
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
span#time.night {
  border: 1px solid rgba(64, 28, 161, 0.6);
  background: rgba(64, 28, 161, 0.2);
}
li#weather-description::first-letter {
  text-transform: capitalize;
}

img.forecast-icon {
  width: 100%;
}
img.forecast-icon.night {
  filter: grayscale();
}

ul.extra-info span {
  font-size: 14px;
  color: rgba(19, 116, 197, 1);
}

ul.extra-info span.night {
  color: rgba(64, 28, 161, 1);
}
